.navbar{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items:center;
}
.search{
    background-color: #1d1b31;
    height: 80%;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-right: 20px;
    padding-right: 20px;
}
.search i{
    font-size: 25px;
    color: #fff;
    padding: 0 20px;
}
.search input{
    height: 80%;
    width: 150px;
    border: none;
    outline: none;
    border-radius: 20px;
}
.search input::placeholder{
    background-color: #1d1b31;
    opacity: 1;
    color: #a3a3a3;
    font-size: 18px;
}
.search input:focus{
    background-color: #1d1b31;
    opacity: 1;
    color: #a4a4a4;
    font-size: 18px;
}